@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



